.types-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  border-radius: 10px;
  width: 300px;
  padding: .30rem;
  margin-top: 1rem;
}

.type-title {
  text-align: center;
  text-transform: capitalize;
  color: white;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {

  .type-title {
    margin-top: 10px;
  }
}