.types-page-header {
  margin-top: 1rem;
}

.title-container {
  border-radius: 10px;
  width: 300px;
  padding: .5rem;
  margin: 0 auto;
}

.type-title {
  text-align: center;
  text-transform: capitalize;
  color: white;
}

@media screen and (max-width: 600px) {}