.page-container {
  display: grid;
  background: #ffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  grid-area: 2 / 2 / 6 / 7;
}

.types-page {
  padding: 3%;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
}

.pokemon-damage-container {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.default-title {
  place-self: center;
  color: black;
  font-size: 5rem;
}

@media screen and (max-width: 600px) {
  .page-container {
    grid-area: 3 / 1 / 6 / 7;
  }

  .pokemon-damage-container {
    flex-direction: column;
  }

  .default-title {
    font-size: 2.5rem;
  }
}