.damage-relations-container {
  display: flex;
  width: 45%;
  min-height: 455px;
}

.damage-lists {
  display: flex;
}

.left-list,
.right-list {
  width: 300px;
}

@media screen and (max-width: 600px) {
  .damage-relations-container {
    width: 100%;
  }

  .card-title {
    text-align: left;
  }
}