.moves-list {
  list-style: none;
  padding: 0;
  width: 270px;
  border: 1px solid lightgray;
  height: 30vh;
  overflow-y: scroll;
}

.moves {
  text-align: center;
  background: #f8f8f8;
}

.moves:nth-child(odd) {
  background: none;
}


.section-title {
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  margin: 12px 0px;
  padding: 5px 5px;
}

.physical {
  background: #f49584;
  color: #f8da87;
}

.special {
  background: #94a8cc;
  color: #8f8594;
}

.status {
  background: #cbc6bc;
  color: #fcfcfc;
}