.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
  position: relative;
  padding: 2rem;
  width: 100%;
  max-width: 640px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.modal-inner button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-inner img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.modal-inner .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #ff0000;
}

.modal-inner .info h4 {
  text-transform: capitalize;
}

.modal-inner .types {
  display: flex;
  margin-bottom: 1rem;
}

.modal-inner .type {
  padding: .25rem;
  min-width: 6em;
  border-radius: .5rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-right: .5rem;
}

.modal-inner .abilities {
  margin-top: 1rem;
}

.modal-inner .abilities .ability-one {
  margin-bottom: 1rem;
}

.modal-inner .abilities .ability-name {
  font-weight: bold;
  text-transform: capitalize;
}

.modal-inner .abilities .ability-name span {
  color: #c1c1c1;
}

@media screen and (max-width: 960px) {
  .modal-inner {
    margin: 0 1rem 0 1rem;
  }
}