.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  grid-area: 1 / 1 / 2 / 7;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 39%);
}

.navbar-logo {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  .navbar-logo {
    margin: 0 auto;
  }
}