.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 240px;
  background: #1a1919;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .sidebar-links {
  margin-top: 10px;
  padding: 0;
  max-height: calc(100vh - 80px);
  overflow: auto;
  scrollbar-color: #C1C1C1 #1a1919;
}

.sidebar .sidebar-links li {
  position: relative;
  list-style: none;
  color: #fff;
  height: 3.125rem;
}

.sidebar .sidebar-links li:last-child {
  margin-bottom: 26px;
}

.sidebar .sidebar-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sidebar .sidebar-links li a:hover {
  background: #fff;
  color: #000;
}

.sidebar .sidebar-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.hidden {
  transform: translateX(-100%);
}

.close-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .sidebar {
    width: 100%;
    z-index: 20;
  }

  .close-icon {
    display: block;
  }

  .sidebar .logo-details {
    justify-content: space-between;
  }

  .sidebar .sidebar-links {
    padding-bottom: 100px;
  }
}