.types-image {
  width: 50px;
}

.sidebar {
  background-color: #1a1919;
  width: 250px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  max-height: 90.9vh;
  overflow-y:scroll;
}

.sidebar-options {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 6px 6px 6px 6px;
  list-style: none;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-bar {
  margin-left: 30px;
  border-radius: 5px;
}

.individual-options {
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-title {
  padding-left: 1rem;
}