.types-page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 87.5vh;
  margin: 20px 20px 0px 270px;
  max-height: 90.9vh;
}

.page-title-container {
 width: fit-content;
 height: fit-content;
 grid-column: 2/3;
 grid-row: 1;
 align-self: center;
 justify-self: center;
}

.title-contents {
  padding-right: 15px;
  width: fit-content;
  border-radius: 50px;
  font-size: 3rem;
}

.type-image {
  width: 80px;
}


.type-title {
  color: white;
}

.default-title {
  color: black;
  font-size: 4.8rem;
  grid-column: 2/3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.name-list {
  grid-row: 2;
}

.list-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.list {
  max-height: 70vh;
  overflow-y:scroll;
  width: fit-content;
  list-style: none;
  border: 1px solid #878787
}