.types-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  max-height: 90.9vh;
}

.page-title {
  font-size: 3rem;
}

.title-image {
  width: 80px;
  margin-right: 10px;
}

.title-contents {
  margin-top: 20px;
  padding-right: 20px;
  border-radius: 50px;
}

.title {
  color: white;
}

.default-title {
  color: black;
  font-size: 5rem;
  margin-top: 25%;
}