.types-page-container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 87.5vh;
  margin: 20px 10px 0px 250px;
  max-height: 90.9vh;
}

.page-title {
  font-size: 3rem;
  max-width: fit-content ;
  max-height: fit-content;
  height: fit-content;
}

.title-image {
  width: 80px;
}

.title-contents {
  margin-top: 20px;
  padding-right: 20px;
  border-radius: 50px;
}

.title {
  color: white;
}

.default-title {
  color: black;
  font-size: 5rem;
  margin-top: 25%;
}

.name-list {
  max-height: 87vh;
  overflow-y:scroll;
}